{% extends "shared/main.html" %}

{% block page_body %}
<main class="dashboard">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <div class="main-content">
    <nav class="nav-and-create">
      <div class="tabs-group">
        <div class="tab-selected">
          <div class="tab-content">
            <span class="tab-title">All Auctions</span>
          </div>
          <div class="tab-spacer"></div>
        </div>
        <div class="tab-default">
          <div class="tab-default-content">
            <span class="tab-title">Upcoming Auctions</span>
          </div>
          <div class="tab-spacer"></div>
        </div>
        <div class="tab-default">
          <div class="tab-default-content">
            <span class="tab-title">My Auctions</span>
          </div>
          <div class="tab-spacer"></div>
        </div>
      </div>
      <a class="create-auction-button" href="{{ url_for('auction_controller.open_create_auction')}}" target="_parent">Create Auction</a>
    </nav>
    <section class="auction-grid">
      <div class="auction-row" id="auction-row">
        <!-- Auction Cards will be dynamically injected here -->
      </div>
    </section>
  </div>
</main>

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
